<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProyectoFinalEstetica</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ProyectoFinalEstetica.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/wspBtn.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/footer.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body style="background-color: #CBB7E5; ">

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ProyectoFinalEstetica</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Turno" asp-action="MisTurnos">Ver mis turnos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="~/Home/Index#Contacto" >Contacto</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Contacto" asp-action="Index">Administrador</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <a href="https://api.whatsapp.com/send?phone=5491130067996&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n" class="float" target="_blank">
        <i class="fa-brands fa-whatsapp my-float"></i>
    </a>
    <footer class="footer" style="line-height:40px;">
        <div class="waves">
            <div class="wave" id="wave1"></div>
            <div class="wave" id="wave2"></div>
            <div class="wave" id="wave3"></div>
            <div class="wave" id="wave4"></div>
        </div>
        <div class="text-light text-center" style="margin-left : 10px; font-size: 12px;">
            <h5>Informacion de contacto.</h5>

            <ul style="list-style: none; padding:0px; margin:0px;">
                <li class="p-0">
                    <i class="fa-brands fa-instagram">
                        <a class="link-light" style="text-decoration:none;" href="#">Seguinos en instagram</a>
                    </i>
                </li>
                <li>
                    <i class="fa-solid fa-envelope">
                        <a class="link-light" style="text-decoration:none;" href="#">laestetica@gmail.com</a>
                    </i>
                </li>
                <li>
                    <i class="fa-brands fa-facebook">
                        <a class="link-light" style="text-decoration:none;" href="#">Seguinos en Facebook.</a>
                    </i>
                </li>
                <li>
                    <i class="fa-solid fa-location-dot">
                        <a class="link-light" style="text-decoration: none;" href="#">
                            Av. del Libertador 6796, C1429 CABA
                        </a>
                    </i>
                </li>
            </ul>
        </div>
        <p class="text-white-50 text-center mt-4" style="opacity: 0.75;">Echo por Clara Alarcon, Sol Barboza, Sebastian Amarante.</p>

    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
