@model ProyectoFinalEstetica.Models.Contacto

@{
    <h3>@Model.Nombre</h3>
    <h4>Gracias por enviar tu consulta.</h4>

}
<a asp-action="Index" asp-controller="Home" class="btn btn-info" style="margin-top:10px">Volver</a>