

<div style="position: relative; width: 100%; height: 0; padding-top: 33.3333%;
 padding-bottom: 0; box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); margin-top: 1.6em; margin-bottom: 0.9em; overflow: hidden;
 border-radius: 8px; will-change: transform;">
    <iframe loading="lazy" style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; border: none; padding: 0;margin: 0;"
            src="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAFQ7yfu-JE&#x2F;view?embed">
    </iframe>
</div>

<div class="container d-flex flex-row mb-3 text-center justify-content-center">
    <div class="card p-3 m-3" style="width: 18rem;">
        <img src="https://d2r9epyceweg5n.cloudfront.net/stores/001/320/195/categories/manicuria_01-35be24b5f26e1e88ac16367386682947-240-0.jpg"
             class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Manicuria</h5>
            <p class="card-text">
                Ofrecemos distintos tipos como
                Kapping, acrilicos, semipermanentes, etc.
            </p>
            <a class="btn btn-primary" asp-action="AgendarManicuria" asp-controller="Turno">Agendar turno</a>
        </div>
    </div>
    <div class="card p-3 m-3" style="width: 18rem;">
        <img src="https://www.bezzia.com/wp-content/uploads/2015/04/pedicura.jpg"
             class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Pedicuria</h5>
            <p class="card-text">
                Ofrecemos distintos tipos como
                Kapping, acrilicos, semipermanentes, etc.
            </p>
            <a class="btn btn-primary" asp-action="AgendarPedicuria" asp-controller="Turno">Agendar turno</a>
        </div>
    </div>
    <div class="card p-3 m-3" style="width: 18rem;">
        <img src="https://d500.epimg.net/cincodias/imagenes/2021/01/28/pyme/1611867181_254477_1611936996_noticia_normal.jpg"
             class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Peluqueria</h5>
            <p class="card-text">
                Ofrecemos distintos tipos como
                Kapping, acrilicos, semipermanentes, etc.
            </p>
            
            <a class="btn btn-primary" asp-action="AgendarPeluqueria" asp-controller="Turno">Agendar turno</a>
        </div>
    </div>
</div>



