@model ProyectoFinalEstetica.Models.Contacto


<div style="position: relative; width: 100%; height: 0; padding-top: 33.3333%;
 padding-bottom: 0; box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); margin-top: 1.6em; margin-bottom: 0.9em; overflow: hidden;
 border-radius: 8px; will-change: transform;">
    <iframe loading="lazy" style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; border: none; padding: 0;margin: 0;"
            src="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAFQ7yfu-JE&#x2F;view?embed">
    </iframe>
</div>

<div class="container d-flex flex-row mb-3 text-center justify-content-center">
    <div class="card p-3 m-3" style="width: 18rem;">
        <img src="https://d2r9epyceweg5n.cloudfront.net/stores/001/320/195/categories/manicuria_01-35be24b5f26e1e88ac16367386682947-240-0.jpg"
             class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Manicuria</h5>
            <p class="card-text">
                Ofrecemos distintos tipos como
                Kapping, acrilicos, semipermanentes, etc.
            </p>
            <a class="btn btn-primary" asp-action="AgendarManicuria" asp-controller="Turno">Agendar turno</a>
        </div>
    </div>
    <div class="card p-3 m-3" style="width: 18rem;">
        <img src="https://www.bezzia.com/wp-content/uploads/2015/04/pedicura.jpg"
             class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Pedicuria</h5>
            <p class="card-text">
                Ofrecemos distintos tipos como
                Kapping, acrilicos, semipermanentes, etc.
            </p>
            <a class="btn btn-primary" asp-action="AgendarPedicuria" asp-controller="Turno">Agendar turno</a>
        </div>
    </div>
    <div class="card p-3 m-3" style="width: 18rem;">
        <img src="https://d500.epimg.net/cincodias/imagenes/2021/01/28/pyme/1611867181_254477_1611936996_noticia_normal.jpg"
             class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Peluqueria</h5>
            <p class="card-text">
                Ofrecemos distintos tipos como
                Kapping, acrilicos, semipermanentes, etc.
            </p>
            
            <a class="btn btn-primary" asp-action="AgendarPeluqueria" asp-controller="Turno" >Agendar turno</a>
        </div>
    </div>
</div>
 
<div>
    <form asp-action="Contacto" id="Contacto" class="mb-5 ripe-malinka-gradient" style="box-shadow: 3px 3px red, -1em 0 .4em pink;">

        <div class="">
            <label class="form-label">Nombre completo</label>
            <input asp-for="Nombre" type="text" class="form-control" placeholder="Nombre y apellido*" required>
        </div>
        <div class="">
            <label class="form-label">Correo electrónico</label>
            <input asp-for="Email" type="email" class="form-control" placeholder="Email*" aria-describedby="emailHelp" required>
            <div id="emailHelp" class="form-text text-danger text-end">Nunca compartiremos su correo electrónico con nadie más.</div>
        </div>
        <div class="">
            <label class="form-label">Asunto</label>
            <input asp-for="Asunto" type="text" class="form-control" placeholder="Asunto*" required />
        </div>
        <div class="mb-3 ">
            <label class="form-label">Mensaje</label>
            <input asp-for="Mensaje" type="text" class="form-control form-contact-textarea" placeholder="Ingresa tu mensaje aqui..." />
        </div>
        <button type="submit" class="btn btn-primary d-block p-2">Enviar</button>

    </form>
</div>